<?xml version="1.0" encoding="UTF-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="340E970A-8A68-4713-8162-4CF7A15615CD"
	         Name="Система автоматизированного обмена 1с"
	         Language="1049"
	         Version="1.0.2.0"
	         UpgradeCode="9D243591-28E7-444D-953E-D58781FDA4AC"
	         Manufacturer="ITmind">

    <Package Description="SA1C"
		         Comments="Setup SA1C"
		         InstallerVersion="200"
		         Compressed="yes"/>

    <Property Id="SHORTCUT_DESKTOP">0</Property>
    <Property Id="AUTOEXEC_SERVER" />
    <Property Id="WINDOWS_SERVICE">0</Property>

    <!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
			UpgradeCode=""
		-->
    <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>

    <!-- Installation directory and files are defined in Files.wxs -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="StartupFolder"/>
    </Directory>

    <Feature Id="Client"
		         Title="Client"
		         Description="Your description"
		         Level="1">
      <ComponentRef Id="Client"/>
      <ComponentRef Id="ClientFolder"/>
      <ComponentRef Id="ServerStartup"/>
      <ComponentRef Id="InstallService"/>
    </Feature>

    <!--
			Using the Wix UI library
 
			WixUI_InstallDir does not allow the user to choose 
			features but adds a dialog to let the user choose a 
			directory where the product will be installed
		-->
    <Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
    <UIRef Id="WixUI_MyInstallDir"/>
  </Product>
</Wix>
