<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logbox" xsi:type="RichTextBox" controlName="report"
  	        formName="ClientSA1C" useDefaultRowColoringRules="true"
            layout="${shortdate} : ${message}"/>
    <target name="file" xsi:type="File" fileName="${basedir}/log_${shortdate}.txt"
            layout="${longdate} ${stacktrace} (${message})"/>
  </targets>
  <rules>
    <logger name="ClientSA1C.Program" minlevel="Info" writeTo="file"/>
    <logger name="ClientSA1C.ClientSA1C" minlevel="Info" writeTo="logbox,file"/>
  </rules>
</nlog>
